name: Build and publish Docker image

defaults:
  run:
    shell: bash

on:
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: vandelay-energy-demo

jobs:
  build:
    name: Building Docker Image
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    steps:
      - name: Checking out files
        uses: actions/checkout@v4

      - uses: php-actions/composer@v6
        with:
          php_version: '8.3'
          php_extensions: curl
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: yarn
          cache-dependency-path: app/yarn.lock

      - name: Install dependencies
        run: yarn install --frozen-lockfile
        working-directory: ./app

      - name: Build application
        run: yarn build
        working-directory: ./app
        
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker Meta
        if: github.event_name != 'workflow_dispatch'
        id: docker_meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
            type=ref,event=branch
            type=ref,event=pr
          flavor: |
            latest=false

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ghcr.io/vandelay-energy-demo:latest
#            ${{ steps.docker_meta.outputs.tags }}
          cache-from: type=sha
          cache-to: type=sha,mode=max
